* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ===== nave section style ===== */
nav {
  display: block;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 3;
}
/* ===== hero section style ===== */
.hero-section {
  /* background-color: aquamarine; */
  /* background: url('img/1280x720-mtn-ng_bg.jpg') no-repeat center rgb(0, 0, 0); */
  background-image: url('../img/1280x720-mtn-ng_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 111.5px 44.6px 66.9px 44.6px;
  /* height: 100vw; */
}
.hero-section .text-col {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}
.hero-section .save-image-div {
  padding-bottom: 20px;
}
.hero-section .text-col h1 {
  font-size: 52.5px;
  line-height: 52.5px;
  font-weight: 800;
  color: #ffcb01;
  margin-top: 18.75px !important;
  /* position: absolute; */
  left: 0;
  /* border: solid; */
  width: 700px;
}
.hero-section .text-col p {
  font-size: 17px;
  line-height: normal;
  font-weight: 400;
  margin-top: 18.75px !important;
  padding-bottom: 45px;
  font-family: 'Montserrat', sans-serif;
}
.hero-section .text-col a {
  background-color: rgb(232 61 142);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  line-height: 60px;
  max-width: 225px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  padding: 0 30px;
  align-items: center;
  display: block;
  cursor: pointer;
  border-radius: 100px;
}
.hero-section .text-col .d-flex {
  /* border: solid; */
  justify-content: space-between;
  width: 80%;
  max-width: 360px;
  margin-top: 20px;
}
.hero-section .text-col .d-flex div {
  /* margin: auto; */
}
.hero-section .text-col .d-flex img {
  /* width: 277.77px; */
  height: 50px;
  /* padding: 0 20px; */
  margin: auto;
}
.hero-section .text-col .d-flex .mtn {
  width: 50px;
  /* padding: 0 20px; */
  /* border: solid; */
}
.hero-section .img-col {
  /* border: solid; */
  position: relative;
}
.hero-section .img-col img {
  /* border: solid; */
  width: 600px;
  position: absolute;
  right: 0;
  top: 20px;
  /* display: none; */
  z-index: 1;
  /* width: 100%; */
}

/* ===== plan section style ===== */
.plan {
  background-color: rgb(24, 23, 31);
  font-family: 'Montserrat', sans-serif;
  padding: 60px 16px;
}
.plan h1 {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.2px;
}
.plan p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 18px 0;
}
.plan .select-plan-btn-div {
  /* color: #fff; */
  /* text-align: center; */
  /* border: solid; */
}
.plan .select-plan-btn-div .select-plan-btn {
  background-color: #fff;
  display: inline-flex;
  padding: 13px;
  border-radius: 100px;
  width: 284px;
  margin: 0 10px;
}
.plan .select-plan-btn-div .select-plan-btn input {
  margin: auto 20px;
}
.plan .select-plan-btn-div .select-plan-btn span {
  margin: auto;
  font-size: 16px;
}
/* plan card */
.plan-card-div {
  display: inline-flex;
}
.plan-card-div .plan-card {
  background-color: #fff;
  max-width: 450px;
  border-radius: 5px;
  margin: 0 10px;
}
.plan-card-div .plan-card .top-bar {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: rgb(232 61 142);
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  padding: 7px 0;
  color: #fff;
  text-align: center;
  /* width: 450px; */
}
.plan-card-div .plan-card .plan-card-header,
.plan-card-div .plan-card .plan-spec-group {
  border-bottom: 1px dotted rgb(205, 205, 205);
}
.plan-card-div .plan-card .card-title {
  color: rgb(232 61 142);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 10px 0;
  /* color: #fff; */
  text-align: center;
  /* width: 450px; */
}
.plan-card-div .plan-card .card-device {
  /* color: rgb(232 61 142); */
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  padding-bottom: 14px;
  /* color: #fff; */
  text-align: center;
  /* width: 450px; */
}

.plan-card-div .plan-card .card-price {
  /* color: rgb(232 61 142); */
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  padding-bottom: 26px;
  /* color: #fff; */
  text-align: center;
  /* width: 450px; */
}
.plan-card-div .plan-card .card-price span {
  /* color: rgb(232 61 142); */
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  margin-left: 6px;
}
.plan-card-div .plan-card .plan-spec-group .text {
  /* border: solid; */
  width: 70%;
}
.plan-card-div .plan-card .plan-spec-group .icon {
  text-align: end;
  /* border: solid; */
  padding: 0 10px;
  width: 30%;
  font-weight: bolder;
}
.plan-card-div .plan-card a {
  background-color: rgb(232 61 142);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  line-height: 60px;
  max-width: 225px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  padding: 0 30px;
  align-items: center;
  display: block;
  cursor: pointer;
  border-radius: 100px;
  /* border: solid red; */
  margin: 30px auto;
}
.plan-card-div .plan-card .card-footer-text {
  text-align: center;
  margin-bottom: 30px;
}
/* how to pay section style */
.how-to-pay {
  background-color: rgb(21, 21, 21);
  color: #fff;
  padding: 60px 111.5px;
}
.how-to-pay h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 30px;
  text-align: center;
}
.how-to-pay .list-div {
  /* background-color: #000; */
  font-size: 18px;
  line-height: 27px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(24, 23, 31);
  padding: 20px;
  color: #fff;
  margin-bottom: 20px;
}
.how-to-pay .table-div table {
  width: 100%;
  font-size: 14px;
  border-collapse: separate;
  border-spacing: 3px;
  border-color: grey;
}
.how-to-pay .table-div table th {
  width: 10%;
  font-weight: 700;
  background: rgb(51 51 51);
  padding: 22px 4px 20px;
  text-align: center;
}
.how-to-pay .table-div table td {
  padding: 22px 4px 20px;
  text-align: center;
  vertical-align: top;
  border: solid 1px grey;
}
/*  Accordion section style */
/* Style the buttons that are used to open and close the accordion panel*/

.accordion {
  background-color: transparent;
  color: #000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Montserrat', sans-serif;
  transition: 0.4s;
}
/*Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #ccc;
}
/* add an icon */
.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
/* change icone on active */
.active:after {
  content: '\2212';
}
/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  color: #4a4a4a;
  font-family: 'Montserrat', sans-serif;
  font-size: 16.875px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/*  Footer Section style */
.footer-section {
  background-color: rgb(0, 0, 0);
  color: #ddd;
  font-size: 19.2px;
  font-family: 'Montserrat', sans-serif;
  padding: 50px 20px;
}
.footer-section footer {
  border-top: solid 1px;
}
.footer-section footer ul {
  list-style: none;
  /* display: flex;
  flex-wrap: wrap; */
  justify-content: space-around;
  /* border-top: solid 1px; */
  /* padding: 20px 20px; */
}
.footer-section footer ul li {
  font-weight: 100 !important;
  /* border: solid; */
}
.footer-section footer ul li a {
  font-size: 19.2px;
  line-height: 28.8px;
  padding: 9px 19.3px;
  display: inline-block;
  color: #ddd;
  text-decoration: none;
  font-weight: 200 !important;
  /* border: solid; */
}
